# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.log

# Executables
*.exe
*.out
*.app
/.vs/Graphic/v17/ipch/AutoPCH/b3b38ba7aaa6b7d3/GRAPHIC.ipch
/.vs/Graphic/v17/ipch/AutoPCH/a305529036c67e80/OBJECT.ipch
/.vs/Graphic/v17/Browse.VC.opendb
*.ipch
*.vsidx
/.vs/Graphic/v17/.suo
/.vs/Graphic/v17/Browse.VC.db
/.vs/Graphic/v17/Browse.VC.db-shm
/x64/Debug/Graphic.tlog/CL.command.1.tlog
/x64/Debug/Graphic.tlog/Cl.items.tlog
/x64/Debug/Graphic.tlog/CL.read.1.tlog
/x64/Debug/Graphic.tlog/CL.write.1.tlog
/x64/Debug/Graphic.tlog/Graphic.lastbuildstate
/x64/Debug/Graphic.tlog/link.command.1.tlog
/x64/Debug/Graphic.tlog/link.read.1.tlog
/x64/Debug/Graphic.tlog/link.write.1.tlog
/.vs/Graphic/v17/Browse.VC.db-wal
/.vs/Graphic/v17/fileList.bin
/.vs/Graphic/v17/Browse.VC.db-shm
/.vs/Graphic/v17/Browse.VC.db
/x64/Debug/Shader.obj
*.opendb
*.db-shm
*.db-wal
/.vs/Shader/v17/Browse.VC.db
/x64/Debug/Shader.tlog/CL.command.1.tlog
/x64/Debug/Shader.tlog/CL.read.1.tlog
/x64/Debug/Shader.tlog/link.read.1.tlog
/x64/Debug/main.obj
/x64/Debug/Shader.tlog/CL.write.1.tlog
/SHADER/Example.fsh
